<div class="cart_show">
<h1>Your cart</h1>

<% if !current_user.nil? %>

  <% @user_cart.items.each do |u| %> <!-- Les items du panier -->
    <div id="cat_resume<%=u.id.to_s%>">
      <hr>
        <table style="width:100%">
          <tr>
            <th><%= image_tag(u.image, size: "100x100") %></th>
            <th><%= u.name %></th>
            <th>$<%= u.price %></th>
            <th><%= link_to "Remove", "/cart/#{@user_cart.id}/item/#{u.id}", controller: "carts", action: "destroy", method: :delete, remote: true%></th>
          </tr>
        </table><br>
    </div>
  <% end %>

  <%= form_for(@new_order, url: order_create_path, method: :post) do |f| %>

  <%= f.hidden_field :user, :value => current_user.id %>

  <%= f.hidden_field :cart, :value => current_user.cart.id %>

  <%= f.submit "Valid your order", class: "btn-blue" %>

  <%end%>

<% end %><br>
</div>