
<% if !current_user.nil? %>


  <% @user_cart.items.each do |u| %> <!-- Les items du panier -->
    <div id="cat_resume<%=u.id.to_s%>">
      <hr>
        <%= u.name %><br>
        <%= u.price %><br>
        <%= image_tag(u.image) %> <br>
        <%= link_to "Retirer du panier", "/cart/#{@user_cart.id}/item/#{u.id}", controller: "carts", action: "destroy", method: :delete, remote: true%>
      <hr>
    </div>

  <% end %>

  <%= form_for(@new_order, url: order_create_path, method: :post) do |f| %>

  <%= f.hidden_field :user, :value => current_user.id %>

  <%= f.hidden_field :cart, :value => current_user.cart.id %>

  <%= f.submit "Valider la commande" %>

  <%end%>

<% end %>
