<div class="form_width">
  
  <div class="card">

    <h2 class ="actions">Edit Item</h2>
    <p></p>
    <p></p>

    <%= form_for(@edit_item, url: item_update_path, method: :patch) do |f| %>

    <%= f.hidden_field :@edit_item, :value => @edit_item.id %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: @edit_item.name, class: "form-control", placeholder: @edit_item.name %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.text_field :image, autofocus: true, autocomplete: @edit_item.image, class: "form-control", placeholder: @edit_item.image %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price, autofocus: true, autocomplete: @edit_item.price, class: "form-control", placeholder: @edit_item.name%>
    </div>

    <div class="actions">
      <button class="btn-blue" <% f.submit "Sign up" %> >Update item</button>
    </div>
  
  <% end %>


  </div>

</div>