<h1 class="title_show">Adopt your cat</h1>
<div class="witdh">


<!-- <hr> -->

<div class="showe">
<% @allitems.each do |item| %>
<div class="card" >


  <%= image_tag(item.image, size: "250x250") %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to item.name, "/item/show/#{item.id}" %></h5>
    <p class="card-text"><%= item.category.name %></br>
      <%= item.price %>€
    </p>
    <%= link_to "See More", "/item/show/#{item.id}", class: "btn-blue" %>
  </div>
  
</div>
<%end%>

</div>

</div>