<h1 class="title_show"><%=@item.name%></h1>

<div class="show">


<div class="image_show">
<%= image_tag(@item.image) %>
</div>

  <div class="description">

    <p class="text_description">Wow j'suis trop beau et trop mignon, allez ajoute moi à ton panier !</p>



    <h3><%=@item.price%>$</h3>



    <div class="bouton_show">
      <% if !current_user.nil? %>
      <%= link_to "ADD TO CART", "/item/add/#{params[:id]}", method: :post, class: "btn-blue"%>
      <% end %>
    </div>

    <div class="">
    	<%= link_to "Back to cats", '/' %>
    </div>

    <div class="">
    	<% if current_user.try(:admin?) %>
    		<%= link_to "Edit Item", "/item/edit/#{params[:id]}" %>
    	<% end %>
    </div>

    <div class="">
    	<% if current_user.try(:admin?) %>
	    	<%= link_to "Delete Item", "/item/delete/#{params[:id]}", method: :delete %>
    	<% end %>
    </div>

  </div>

</div>