<div class="form_width">
  
  <div class="card">

    <h2 class ="actions">Sign up</h2>
    <p></p>
    <p></p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>


    <div class="form-group">
      <%-# <%= f.label :name -%>
      <%= f.text_field :name, autofocus: true, autocomplete: "your name", class: "form-control", placeholder: "Your Name" %>
    </div>

    <div class="field">
      <%-#  <%= f.label :email -%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your e-mail"%>
    </div>

    <div class="field">
      <%-# <%= f.label :password -%>
      <% if @minimum_password_length %>
      <% b =  @minimum_password_length -%>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control",  placeholder: "Your password #{b} characters minimum" %>
    </div></br>

    <div class="field">
      <%-# <%= f.label :password_confirmation -%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your password" %>
    </div>

    <div class="actions">
      <button class="btn-blue" <% f.submit "Sign up" %> >Create account</button>
    </div>
  
  <% end %>


    <%= render "devise/shared/links" %>
  </div>

</div>